@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff5ee;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;

  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 200%;
  }

  span {
    font-size: 120%;
  }
}
