@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F8FBF8;
  color: #1E1919;

  ::selection {
    color: #fff;
    background-color: #000;
  }

  html {
    scroll-behavior: smooth;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MORE INFO text */
@keyframes pulse {
  0% {
    text-decoration-color: #ff5f6d; /* red-pink */
  }
  16% {
    text-decoration-color: #ffc371; /* orange-yellow */
  }
  33% {
    text-decoration-color: #47cf73; /* green */
  }
  50% {
    text-decoration-color: #38a1db; /* blue */
  }
  66% {
    text-decoration-color: #7d5fff; /* purple */
  }
  83% {
    text-decoration-color: #ff5fd2; /* magenta */
  }
  100% {
    text-decoration-color: #ff5f6d; /* red-pink */
  }
}

.subtle {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  animation: pulse 6s infinite;
}



/* Gradient overlay */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to bottom, rgba(248, 251, 248, 0.1) 0%, rgba(248, 251, 248, 0) 100%);
  z-index: 10;
  pointer-events: none;
}

body::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to top, rgba(248, 251, 248, 0.1) 0%, rgba(248, 251, 248, 0) 100%);
  z-index: 10;
  pointer-events: none;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JB';
  src: url('/fonts/JB.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plex';
  src: url('/fonts/Plex.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
